<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.torun.mtone.mapper.BoardMapper">
    <select id="readStories" resultType="ToLowerCaseMap">
        SELECT * FROM TB_BASIC_BOARD ORDER BY INIT_DATE DESC
    </select>

    <select id="readStory" parameterType="string" resultType="ToLowerCaseMap">
        SELECT * FROM TB_BASIC_BOARD WHERE STORY_NO = #{story_no}
    </select>

    <insert id="inputStory" parameterType="StoryVo">
        INSERT INTO TB_BASIC_BOARD
        (
         story_no
         , title
         , content
         , init_date
         , update_date
         , writer
         )
        VALUES
        (
         'BAS' || TO_CHAR(SYSDATE, 'YYYYMMDDHH24MI') || STORY_NO_SEQ.NEXTVAL
         , #{title}, #{content}
         , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI')
         , NULL
         , #{writer}
         )
    </insert>

    <update id="editStory" parameterType="StoryVo">
        UPDATE TB_BASIC_BOARD
           SET CONTENT = #{content}
         WHERE STORY_NO = #{story_no}
    </update>

    <delete id="deleteStory" parameterType="string">
        DELETE FROM TB_BASIC_BOARD WHERE STORY_NO = #{story_no}
    </delete>

    <insert id="inputComment" parameterType="hashmap">
        INSERT INTO TB_BASIC_BOARD_COMMENT
            (
             story_no
             , comment_no
             , content
             , init_date
             , writer
             )
        VALUES
            (
             #{story_no}
             , 'COM' || TO_CHAR(SYSDATE, 'YYYYMMDDHH24MI') || COMMENT_NO_SEQ.NEXTVAL
             , #{comment_content}
             , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI')
            , #{comment_writer}
             )
    </insert>

    <delete id="deleteComments" parameterType="string">
        DELETE FROM TB_BASIC_BOARD_COMMENT WHERE STORY_NO = #{story_no}
    </delete>

    <select id="readComments" parameterType="string" resultType="ToLowerCaseMap">
        SELECT *
          FROM TB_BASIC_BOARD_COMMENT
         WHERE STORY_NO = #{story_no}
          ORDER BY INIT_DATE DESC
    </select>

    <update id="plusViews" parameterType="string">
        UPDATE TB_BASIC_BOARD
        SET VIEWS = VIEWS + 1
        WHERE STORY_NO = #{story_no}
    </update>
</mapper>