<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
</th:block>

<th:block layout:fragment="content">
    <section>
        <h3 class="common_title">글쓰기</h3>
        <a href="/board/stories"><i class="fa-solid fa-list fa-lg"></i></a>
        <form class="add_form" action="stories.html" th:action th:object="${story}" method="post">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="writer" name="writer" th:value="${session.loginNickname}">
                <input type="hidden" class="form-control" id="userId" name="userId" th:value="${session.loginUser}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목을 입력해 주세요">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="content" th:field="*{content}" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">등록</button>
        </form>
    </section>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>