<!DOCTYPE html>
<!-- 타임리프를 사용하기 위한 태그 선언 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}">
</th:block>

<th:block layout:fragment="content">
    <section>
        <h3 class="common_title">글수정</h3>
        <form class="edit_form" th:action="@{'../edit/' + ${story.storyNo}}" method="post">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" id="storyNo" name="storyNo" th:value="${story.storyNo}"></input>
            <div class="mb-3">
                <input type="text" class="form-control" id="title" name="title" th:value="${story.title}">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="content" name="content" th:text="${story.content}" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">등록</button>
        </form>
    </section>
</th:block>
</html>