<!DOCTYPE html>
<!-- 타임리프를 사용하기 위한 태그 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 내부 css -->
    <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>

    <!-- 내부 js -->
    <script>
    window.onload = function() {
      console.log("");
      console.log("[window onload] : [start]");
      console.log("");
    };

    document.getElementsByClassName("story").onclick = function() {
        readStory();
    }

    function readStory() {

    }
  </script>

</head>

<body>

<!-- 테이블 선언 실시 -->
<table>

    <thead>
    <tr>
        <th>제목</th>
        <th>조회수</th>
        <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="story : ${stories}" class="story">
        <td><a th:text="${story.TITLE}" th:href="@{./stories/{story_no}(story_no = ${story.STORY_NO})}"></a></td>
        <td><span th:text="${story.VIEWS}"></span></td>
        <td><span th:text="${story.INIT_DATE}"></span></td>
    </tr>
    </tbody>
</table>

<a href="/board/add">글쓰기</a>

</body>

</html>