<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
</th:block>

<th:block layout:fragment="content">
    <section>
        <h3 class="common_title">회원가입</h3>
        <form class="add_form" action="stories.html" th:object="${newUser}" th:action method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="id" th:field="*{userId}" placeholder="아이디를 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="pw" th:field="*{userPw}" placeholder="비밀번호를 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="userNickname" th:field="*{userNickname}" placeholder="닉네임을 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" th:field="*{userName}" placeholder="성함을 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="email" th:field="*{userEmail}" placeholder="이메일을 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="tel" th:field="*{userTel}" placeholder="핸드폰 번호를 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="mbti" th:field="*{userMbti}" placeholder="MBTI를 입력해 주세요">
            </div>
            <button type="submit" class="btn btn-outline-success">등록</button>
        </form>
    </section>
</th:block>

</html>