<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
</th:block>

<th:block layout:fragment="content">
    <section>
        <h3 class="common_title">회원가입</h3>
        <form class="add_form" action="stories.html" th:action method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="id" name="userId" placeholder="아이디를 입력해 주세요">
                <span style="color: red" th:text="${valid_userId}"></span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="pw" name="userPw" placeholder="비밀번호를 입력해 주세요">
                <span style="color: red" th:text="${valid_userPw}"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="userNickname" name="userNickname" placeholder="닉네임을 입력해 주세요">
                <span style="color: red" th:text="${valid_userNickname}"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="userName" placeholder="성함을 입력해 주세요">
                <span style="color: red" th:text="${valid_userName}"></span>
            </div>
            <div class="mb-3">
                <input type="emailx" class="form-control" id="email" name="userEmail" placeholder="이메일을 입력해 주세요">
                <span style="color: red" th:text="${valid_userEmail}"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="tel" name="userTel" placeholder="핸드폰 번호를 입력해 주세요">
                <span style="color: red" th:text="${valid_userTel}"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="mbti" name="userMbti" placeholder="MBTI를 입력해 주세요">
                <span style="color: red" th:text="${valid_userMbti}"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">등록</button>
        </form>
    </section>
</th:block>

</html>