<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
</th:block>

<th:block layout:fragment="content">
    <section>
        <h3 class="common_title">로그인</h3>
        <form class="add_form" action="" th:object="${loginUser}" th:action method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="id" th:field="*{userId}" placeholder="아이디를 입력해 주세요">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="pw" th:field="*{userPw}" placeholder="비밀번호를 입력해 주세요">
            </div>
            <button type="submit" class="btn btn-outline-success">로그인</button>
        </form>
    </section>
</th:block>
</html>