<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>로그인</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
</th:block>

<th:block layout:fragment="content">
  <h3 class="common_title">홈</h3>
  <div class="container" style="float: left;margin-top: 20px;">
    <div class="row">
      <div class="col-lg-3">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="board/stories">자유게시판</a>
          </li>
          <li class="list-group-item" th:if="${session.loginUser == null}">
            <a href="account/add">회원가입</a>
          </li>
          <li class="list-group-item" th:if="${session.loginUser == null}">
            <a href="account/login">로그인</a>
          </li>
          <li class="list-group-item" th:unless="${session.loginUser == null}">
            <a href="account/logout">로그아웃</a>
          </li>
        </ul>
      </div>
<!--      <div th:unless="${session.loginUser == null}" class="card text-white bg-primary m-3" style="max-width: 10rem;">
        <div th:text="${session.loginMbti}" class="card-header"></div>
        <div class="card-body">
          <p th:text="${session.loginNickname + '님'}" class="card-title"></p>
          <p class="card-text">반갑습니다!</p>
        </div>
      </div>-->
    </div>
  </div>
</th:block>

</html>